<div><h3>Product List </h3> </div>
   <div [routerLink]="['/cart', { }]" align="right"> <h3>Cart {{count}}</h3></div>


<table class = "table" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
            <button class = "btn btn-info" (click)="changeValue()" >Add to Cart</button>
&nbsp;

            <button class = "btn btn-info" (click)="removeValue()" >Remove from Cart</button>
        </td>
    </tr>
</table>
<router-outlet></router-outlet>



<!-- [routerLink]="['/cart', { id:product.id }]" -->